<form action="/create-user" method="POST">

  <input name="username" />
  <input name="password" type="password" />
  <input name="favoriteIceCream" />
  <input name="nothing" />

  <button type="submit">Add user</button>

</form>