<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/create-user">Create an account</a>
    </nav>
    {{{body}}}
  </body>
</html>